@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.flex_column_reverse {
    display: flex;
    flex-direction: column-reverse;
}

.space_between {
    flex-wrap: wrap;
    justify-content: space-between;
}

.space_evenly {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.justify_center {
    justify-content: center;
}

.justify_flex_start {
    justify-content: flex-start;
    flex-wrap: wrap;
}

.justify_flex_end {
    justify-content: flex-end;
    flex-wrap: wrap;
}

.center {
    align-items: center;
}

.align_flex_start {
    align-items: flex-start;
    /* flex-wrap: wrap; */
}

.flex_row {
    display: flex;
}

.flex_row_reverse {
    display: flex;
    flex-direction: row-reverse;
}

li {
    list-style: none;
}

a {
    position: relative;
    text-decoration: none;
    color: #FFF;
}

button {
    border: none;
    padding: 0.6rem 1rem;
    background: #B83169;
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0.6rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

.width_full {
    width: 100%;
}

.height_full {
    height: 100%;
}

.mt4 {
    margin: 4rem 0 0 0;
}

.container {
    min-height: 100vh;
    font-family: 'Poppins', 'sans-serif';
    /* display: none; */
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 150;
    background: #ececec;
}

.loader img {
    width: 30%;
    height: 30%;
    object-fit: contain;
}

.hamburger {
    display: none;
}

.mobile_menu {
    display: none;
}

.container > .content_wrapper > .right_section {
    position: absolute;
    padding: 2rem;
    width: 80%;
    top: 5rem;
    left: 20%;
}

.container .box {
    background: #FFF;
    padding: 1rem;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.25);
    border-radius: 0.6rem;
}

.container .box h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

.container > .content_wrapper > .right_section {
    position: absolute;
    padding: 1rem 2rem 2rem 2rem;
    width: 80%;
    top: 5rem;
    left: 20%;
}

.container .content_wrapper .right_section .header {
    height: 4rem;
    margin: 0 0 2rem 0;
}

.container .content_wrapper .right_section .header .right_side {
    width: 30%;
}

.container .content_wrapper .right_section .header .right_side input {
    width: 100%;
    background: #00A962;
    color: #DFE0E0;
    box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.102);
    border-radius: 0.6rem;
    padding: 0.3rem;
    padding-left: 1rem;
    height: 2.2rem;
}

.container .content_wrapper .right_section .header .right_side input::placeholder {
    color: #DFE0E0;
}

.container .content_wrapper .popup .header,
.container .content_wrapper .popup .header button {
    background: none;
    color: #19214F;
}

.container .content_wrapper .popup .form .form_right_section input {
    width: 65%;
}

.container .content_wrapper .popup .form .form_right_section .half_input .input .contact {
    width: 65%;
}

.container .content_wrapper .popup .form .form_right_section .input p {
    width: 35%;
}

.container .content_wrapper .popup .form .form_right_section input {
    color: #000;
}

.container .content_wrapper .popup .form .form_left_section button:nth-child(2) {
    background: linear-gradient(337deg, #19214F 0%, #14BC66 100%) !important;
    box-shadow: 0px 5px 6px 0px rgba(13, 27, 103, 0.50) !important;
    border: none !important;
    color: #FFF !important;
}

.container .content_wrapper .popup .form #status,
.container .content_wrapper .popup .form #status::placeholder {
    color: #00A962;
}

.container .content_wrapper .appointments {
    width: 100%;
}

.container .content_wrapper .appointments .header,
.container .content_wrapper .appointments .values {
    height: 3rem;
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 600;
    background: #00A962;
    margin: 1rem 0 0 0;
    padding: 0 1rem;
    border-radius: 0.6rem;
}

.container .content_wrapper .appointments .values {
    background: #FFF;
    color: #464646;
    box-shadow: 0px 5px 6px rgba(0, 169, 98, 0.5);
    height: 5rem;
}

/* .container .content_wrapper .appointments .values div {
    height: 3rem;
    width: 3rem;
    border-radius: 0.6rem;
    background: #DFE0E0;
} */

.container .content_wrapper .appointments .values {
    height: 6rem;
}

.container .content_wrapper .appointments .header p:nth-child(1),
.container .content_wrapper .appointments .values .user {
    width: 15%;
    text-align: center;
}

.container .content_wrapper .appointments .values div span {
    width: 5rem;
    height: 5rem;
}

.container .content_wrapper .appointments .header > p:nth-child(2),
.container .content_wrapper .appointments .values > p:nth-child(2) {
    width: 15%;
    text-align: center;
}

.container .content_wrapper .appointments .header p:nth-child(3),
.container .content_wrapper .appointments .values p:nth-child(3) {
    text-align: center;
    width: 20%;
}

.container .content_wrapper .appointments .header p:nth-child(4),
.container .content_wrapper .appointments .values p:nth-child(4) {
    width: 10%;
    text-align: center;
}

.container .content_wrapper .appointments .header p:nth-child(5),
.container .content_wrapper .appointments .values p:nth-child(5) {
    width: 15%;
    text-align: center;
}

.container .content_wrapper .appointments .header p:nth-child(6),
.container .content_wrapper .appointments .values .action {
    width: 6%;
    text-align: center;
}

.container .content_wrapper .appointments .values button {
    background: none;
    padding: 0;
}

.container .content_wrapper .appointments .values span {
    width: 3rem;
    height: 3rem;
    border-radius: 0.3rem;
    background: #9699A0;
}

.container .content_wrapper .footer {
    margin: 2rem 0 0 0;
}

.container .content_wrapper .footer > p {
    font-size: 1.2rem;
    font-weight: 600;
}

.container .content_wrapper .footer p #current {
    color: #00A962;
}

.container .content_wrapper .footer .pagination {
    margin: 0;
}

.container .content_wrapper .footer .pagination button {
    background: #DFE0E0;
    color: #000;
}

.container .content_wrapper .footer .pagination button.active {
    background: #00A962;
    color: #FFF;
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    html {
        font-size: 14px;
    }

    .container .content_wrapper .appointments .values {
        height: 4.5rem;
    }

    .container .content_wrapper .appointments .values .user span {
        width: 3rem;
        height: 3rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    html {
        font-size: 14px;
    }

    .container .content_wrapper .right_section .header .left_side {
        width: 30%;
    }

    .container .content_wrapper .appointments {
        overflow: scroll;
    }

    .container .content_wrapper .appointments::-webkit-scrollbar {
        display: none;
    }
    
    .container .content_wrapper .appointments .header {
        width: 62rem;
    }

    .container .content_wrapper .appointments .values {
        height: 4.5rem;
        width: 62rem;
    }

    .container .content_wrapper .appointments .values .user span {
        width: 3rem;
        height: 3rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    html {
        font-size: 14px;
    }

    .container .content_wrapper .right_section .header .left_side {
        width: 44%;
    }

    .container .content_wrapper .right_section .header .right_side {
        width: 40%;
    }

    .container .content_wrapper .appointments {
        overflow: scroll;
    }

    .container .content_wrapper .appointments::-webkit-scrollbar {
        display: none;
    }

    .container .content_wrapper .appointments .header {
        width: 60rem;
    }

    .container .content_wrapper .appointments .values {
        height: 4.5rem;
        width: 60rem;
    }

    .container .content_wrapper .appointments .values .user span {
        width: 3rem;
        height: 3rem;
    }

    .container .content_wrapper .sidebar {
        width: 30%;
    }

    .container .content_wrapper > .right_section {
        left: 30%;
        width: 70%;
    }
}

@media screen and (min-width: 400px) and (max-width: 768px) {
    html {
        font-size: 14px;
    }

    .container .content_wrapper .right_section .header .left_side {
        width: 55%;
    }

    .container .content_wrapper .right_section .header .right_side {
        width: 40%;
    }

    .container .content_wrapper .appointments {
        overflow: scroll;
    }

    .container .content_wrapper .appointments::-webkit-scrollbar {
        display: none;
    }

    .container .content_wrapper .appointments .header {
        width: 60rem;
    }

    .container .content_wrapper .appointments .values {
        height: 4.5rem;
        width: 60rem;
    }

    .container .content_wrapper .appointments .values .user span {
        width: 3rem;
        height: 3rem;
    }

    .container .content_wrapper .sidebar {
        width: 30%;
    }

    .container .content_wrapper > .right_section {
        left: 30%;
        width: 70%;
    }
}